body {
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'PT Serif', serif;
}

#calculatorBody {
  display: flex;
  flex-direction: column;
  border: solid 2.7px rgb(124, 113, 28);
  border-radius: 10px;
  margin: auto;
  padding: 0;
  width: 880px;
  height: 430px;
  background-image: linear-gradient(rgb(61, 61, 61), rgb(34, 34, 34));
}

#brandContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0 0 0 20px;
  height: 50px;
  font-size: 20px;
  border-bottom: solid 2px rgb(80, 80, 80);
}

#turnONOFFInstruction {
  margin-right: 20px;
  margin-left: auto;
}

#display {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  height: 70px;
  justify-content: center;
  align-items: end;
  border-bottom: solid 2px rgb(80, 80, 80);
  color:rgb(253, 245, 189);
}

#operationHistoryScreen {
  margin: 0;
  padding: 0;
  font-size: 19px;
}

#mainDisplayScreen {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: rgb(224, 200, 18);
}

#calculatorButtons {
  display: flex;
  flex-direction: column;
  height: 310px;
  margin: 0;
  padding: 0;
}

#functionsButtonRow {
  display: flex;
  height: 115px;
  margin: 0;
  padding: 0;
}

#complexOperatorsRow {
  display: flex;
  height: 70px;
  margin: 0;
  padding: 0;
}

#numbersAndOperators {
  display: flex;
  height: 260px;
  margin: 0;
  padding: 0;
}

#numberButtons {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 180px;
  width: 667px;
}

#operatorButtons {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 221px;
  margin: 0;
  padding: 0;
}

#functionsButtonRow > button {
  height: 65px;
  width: 65px;
  padding: 0;
  font-size: 28px;
  background-image: linear-gradient(rgb(175, 74, 74), rgb(92, 7, 7));
  border: solid 0.5px black;
  border-radius: 10px;
}

button {
  height: 30px;
  width: 200px;
  margin: auto;
  padding: 0;
  font-size: 25px;
  background-image: linear-gradient(rgb(116, 116, 116), rgb(31, 31, 31));
  border: solid 0.5px black;
  border-radius: 20px;
  color: rgb(226, 221, 221);
  line-height: 0px;
  font-family: 'PT Serif', serif;
  cursor: pointer;
  box-shadow: 1px 2px rgb(29, 29, 29);
}

button:active {
  box-shadow: 0px 0px rgb(29, 29, 29);
  transform: translateY(1px);
}

#footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  height: 40px;
  align-items: center;
  font-size: 18px;
  text-align: center;
  color: rgb(224, 200, 18);
}